.modal-overlay{
    background-color: rgba(0,0,0,0.5 );
    position: fixed;
    inset: 0;
    z-index: 99;
}
.modal-content{
    background-color: white;
    padding: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
}
.btn-danger{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}


